body {
    min-height:100vh;
    margin:0;
    position: relative;
}

header {
    min-height:50px;
}

nav .brand-logo {
    padding-left: 20px;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

.center-content {
    text-align: center;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.page-footer {
  padding-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}